h2 {
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;

  label {
    margin-right: 0.5rem;
  }

  .discount {
    color: green;
    font-weight: bold;
  }

  input {
    width: 4rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 0.5rem;
  }
}

.price-info {
  p {
    margin: 0.25rem 0;
  }
}

.summary {
  margin-top: 1rem;
  border-top: 1px solid #ccc;

  h3 {
    margin-bottom: 0.5rem;
  }
}
