header {
  background-color: #0C0C0C;
  border-bottom: 1px solid #ffff;

  .container {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    align-items: center;
  }

  h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    padding: 0 2rem;
    color: #ffffff;
  }

  .yellow-font {
    color: #ffcf00;
  }
}
