<nav>
    <ul>
        <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/crypto-dashboard')" routerLink="/crypto-dashboard">Dasboard cryptos</a></li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/best-exchange-platform')" routerLink="/best-exchange-platform">Meilleure plateforme d'échange</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('/buy-ticket')" routerLink="/buy-ticket">Ticket de transport</a>
        </li>
    </ul>
</nav>