body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #0C0C0C;
  color: #ffffff;

  .container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.25rem;

    h2 {
    color: #ffcf00
}
  }
}